---
import { ClientRouter } from "astro:transitions";
import { Head, MasterLayout } from "contemporary-astro-components";

interface Props {
	page_title?: string;
}

const logo = "/thegrid.png";
const application = "theGrid";

const { page_title } = Astro.props;
const title = page_title ? `${page_title} - ${application}` : application;

const socialLinks = [
	{
		type: "github",
		link: "https://github.com/theCheeseboard/theGrid"
	}
] as const;

const footerLinks = [
	{
		text: "Home",
		href: "/"
	},
	{
		text: "Download",
		href: "/download"
	},
	"separator",
	{
		text: "#thegrid:bnbdiscord.net",
		href: "https://matrix.to/#/!oDEvITb2MViWFgdJe5:bnbdiscord.net?via=bnbdiscord.net&via=matrix.org"
	},
	"separator",
	{
		text: "Victor Tran",
		href: "https://vicr123.com"
	}
] as const;

import "./styles.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<Head />
		<ClientRouter />
	</head>
	<body>
		<MasterLayout logo={logo} application={application} socialLinks={socialLinks} footerLinks={footerLinks}>
			<slot />
		</MasterLayout>
	</body>
</html>
